:root{
    --primary-text-color: #ffffff;
    --second-text-color: #c7c7c7;
    --reviews-color: #d8d8d8;
    --order-color: #959595;
    --order-confirm-color: #8d8d8d;
    --background-nav: #012D63;
    --button-color: #8E32C6;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.header{
    background-color: var(--background-nav);
    padding-top: 16px;
    padding-bottom: 17px;
}

.logo{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.list-one{
    display: flex;
    justify-content: center;
    gap: 29px;
}


.language{
    display: flex;
    margin: -25px;
    justify-content: right;
    
    
}

.ua{
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10px;
}

.eng{
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items-nav{
    color: var(--second-text-color);
    color: #FFF;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-link{
    color: var(--order-color);
}

.site-link:hover{
    color: var(--primary-text-color);
}

.hero{
    background-image: url(../img/shoes.jpg);
    background-size: cover;background-repeat: no-repeat;
    padding-top: 94px;
    padding-bottom: 183px;
}

.cer{
}

.pt-serif{
    color: #FFF;
    font-family: 'PT Serif' sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.colorawe{
    color: #FFF;
    font-family: 'Playfair Display';
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ydn{
    color: #FFF;
    font-family: 'Playfair Display';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 10px;
    margin-bottom: 12px;
}

.text{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.div-section-one{
    color: var(--primary-text-color);
}



.button-one{
    background-color: var(--button-color);
    margin-top: 41px;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 20px;
    padding-bottom: 19px;
    border: none;
    border-radius: 10px;

}

.p-button{
    color: #FFF;
font-family: 'Roboto';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section-two{
    background-position: cover;
    background-image: url(/img/bcrf.jpg);
    /* margin: 0 auto;  */
    background-repeat: no-repeat;
    padding-top: 105px;
    padding-bottom: 105px;
}

.list-two{
    display: flex;
    align-content: center;
    box-sizing: border-box;
    height: 396px;
    width: 1110px;
    border: 5px solid violet;
}

.benefits-first{
    height: 396px;
}

.benefits-first::after{
    content: '';
    height: 240px;
    width: 240px;
    display: block;
    background-image: url(./img/stars.png);
    background-repeat: no-repeat;
}

.benefits-first:nth-child(2):after{
    background-image: url(./img/truck.png);
}

.benefits-text{
    color: var(--primary-text-color);
    text-align: center;
font-family: 'Playfair Display';
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section-three{
    background: url(<path-to-image>), lightgray 0px -9px / 100% 255.769% no-repeat;
    background-repeat: no-repeat;
}
