:root{
    --primary-text-color: #ffffff;
    --second-text-color: #c7c7c7;
    --reviews-color: #d8d8d8;
    --order-color: #959595;
    --order-confirm-color: #8d8d8d;
    --background-nav: #012D63;
    --button-color: #8E32C6;
}

.container{
    width: 1110px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 105px;
    margin-bottom: 105px;
}


.header{
    background-color: var(--background-nav);
    height: 93px;
}

.logo{

}

.list-one{
    display: flex;
    justify-content: center;
    gap: 29px;
}


.language{
    display: flex;
    margin: -25px;
    justify-content: right;
    
}

.ua{
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.eng{
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items-nav{
    color: var(--second-text-color);
    color: #FFF;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-link{
    color: var(--order-color);
}

.site-link:focus{
    color: var(--primary-text-color);
}

.section-one{
    width: 1440px;
    height: 858px;
    flex-shrink: 0;
    margin: 0 auto;
    background-image: url(/img/shoes.jpg);
}

.cer{
  padding-top: 91px;
}

.pt-serif{
    color: #FFF;
    font-family: 'PT Serif' sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.colorawe{
    color: #FFF;
    font-family: 'Playfair Display';
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ydn{
    color: #FFF;
    font-family: 'Playfair Display';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 10px;
    margin-bottom: 12px;
}

.text{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.primary{
;
}

.div-section-one{
    color: var(--primary-text-color);
}



.button-one{
    background-color: var(--button-color);
    margin-top: 41px;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 20px;
    padding-bottom: 19px;
    border: none;
    border-radius: 10px;

}

.p-button{
    color: #FFF;
font-family: 'Roboto';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section-two{
    background-image: url(/img/bcrf.jpg);
    width: 1440px;
    height: 606px;
    flex-shrink: 0;
    margin: 0 auto; 
}

.list-two{
    display: flex;
    align-content: center;
    box-sizing: border-box;
    height: 396px;
    width: 1110px;
    border: 5px solid violet;
}

.benefits-first{
    height: 396px;
}

.benefits-first::after{
    content: '';
    display: block;
    width: 100%;
    height: 396px;
    background-image: url(/img/stars.png);
    background-repeat: no-repeat;
}

.benefits-first:nth-child(2):after{
    background-image: url(/img/truck.png);
}

.benefits-text{
    color: var(--primary-text-color);
    text-align: center;
font-family: 'Playfair Display';
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

